<div align='center'>
  <h2>アーティスト一覧</h2>
</div>

<table class="table table-condensed">
  <tr>
    <th>名前</th>
    <th>表示名</th>
    <th>性別</th>
    <th>タイプ</th>
    <th>操作</th>
  </tr>
  <% @artists.each do |artist| %>
      <tr>
        <td><a href="/cd/<%= artist.name %>"><%= artist.name %>(<%= artist.name_kana %>)</a></td>
        <td><font color=<%= artist.rgb %>><%= artist.name_view %></font></td>
        <td><%= sex_translate(artist.sex) %></td>
        <td><%= type_translate(artist.type_id) %></td>
        <td>
          <form method="post" action="del">
            <input type="submit" class='btn btn-xs btn-danger btn-md' value="削除" onClick="return DeleteCheck('<%= artist.name %>');">
            <input type="hidden" name="id" value="<%= artist.id %>">
          </form>
        </td>
      </tr>
  <% end %>
</table>
<a href='/cd/artist_register/' class='btn btn-primary'>追加</a>

